*{
  margin: 0%;
  padding: 0%;
  
}
body {
    font-size: 15pt;
}
#hero{
  background: #373838;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comp{
  border: 2px solid black;
  display: flex;
  
}
i{
  margin: 8vw;
  color: #FFFFFF;
}